:root{
    /* Colors */
    --color-a: #191919;
    --color-b: #FFFFFF;
    --color-c: #1D4ED8;
    --color-d: #606060;
    --color-e: #272727;
    --color-f: #a0a0a0;
    --color-g: #cc0000;
    --color-h: #000000;

    /* General Spacing */
    --general-margin: 15px;
    --general-padding: 15px;
    --general-border-radius: 6px;
    --general-height: 30px;

    /* Common Spacing */
    --common-margin: 30px;
    --common-padding: 30px;
    --common-gap: 30px;
    --common-length: 30px;

    /* Image Diemnsions */
    --image-length-1: 50px;
    --image-length-2: 50px;
}

.slider-container {
    width: 100%;
    background-color: var(--color-h);
    color: var(--color-b);
    padding: var(--general-padding);
    border-radius: var(--general-border-radius);
    text-align: center;
    position: relative;
    border-bottom-left-radius: calc(3.33rem + var(--general-padding));
}

.title2 {
    color: var(--color-g);
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: var(--color-d);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: var(--color-g);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    color: var(--color-g);
    cursor: pointer;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.slides {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
}
